<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    <div class="container" style="text-align: center">
        {% include 'navbar.html' %}
        <h1>this is our about page</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At exercitationem recusandae reiciendis deserunt eius eos mollitia saepe velit enim incidunt dolores dolore inventore ad quod sunt aliquid quaerat, quasi quibusdam ratione voluptatibus. Laboriosam a rerum delectus fuga et tempora ipsa.</p>
        <button>Contact Us</button>

    </div>
    
</body>
</html>