<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>
    <div class="container"style="text-align:center">
        {% include 'navbar.html' %}
        <h2>This is Services page</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, debitis. Dolores impedit repudiandae eaque voluptas quae expedita, accusamus praesentium velit culpa molestias, dicta odit cupiditate nam ab qui consequuntur ipsam magni illo accusantium reprehenderit iste eligendi adipisci quisquam aut! Hic cupiditate incidunt alias nihil pariatur.
        </p>
    </div>
    
</body>
</html>